.button {
    background-color: var(--primary);
    color: white;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    border-radius: 4px;
    transition: background-color 0.2s, transform 0.1s;
    font-weight: 600;
}

.button:hover {
    background-color: var(--primary-dark);
}

.button:active {
    transform: scale(0.98);
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}