.inputWrapper {
  margin-bottom: 1rem;
  width: 100%;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}
