.transitionOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 1);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
